.form-control {
    background-color: #C4E3EC !important;
    border-radius: 0px;
}

.container-password-reset {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70vh;
    width: 100%;
    border-color: black;

}

.container-password-reset .border {
    max-width: 100%;
    width: 100%;
    max-width: 800px;
}


.blue-background {
    background-color: #75BAD0;
}

.custom-icon {
    color: #75BAD0;
    font-size: 36px;
}

.alert {
    border-color: red;
    border-radius: 0;
    padding: 10px;
    margin-top: 10px;
    color: red;
  }
