{% load static i18n %}
{% load allauth account %}

<div class="modal fade"
     id="resetPassDoneModal"
     tabindex="-1"
     aria-labelledby="resetPassDoneModalLabel"
     aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header" id="activateModalHeader">
        <h5 class="modal-title fw-bolder" id="resetPassDoneModalLabel">RETRIEVE PASSWORD</h5>
        <button type="button"
                class="btn-close rounded-circle opacity-100"
                id="closeButtonresetPassDone"
                data-bs-dismiss="modal"
                aria-label="Close"></button>
      </div>
      <div class="modal-body fs-6">Please go to your email to retrieve your password.</div>
      <div class="modal-footer border-0 mb-0 justify-content-start">
        <div class="container-fluid d-flex justify-content-center py-0 my-2">
          <button type="button"
                  class="btn orange-button mb-2"
                  onclick="window.location.href='https://mail.google.com'">GO TO EMAIL</button>
        </div>
        <p class="fs-6 text-start">
          Or continue <a href="#" class="text-primary" data-bs-dismiss="modal">shopping</a> without log in.
        </p>
      </div>
    </div>
  </div>
</div>
