{% extends "base.html" %}

{% load i18n %}
{% load allauth %}
{% load static %}

{% block head_title %}
  {% trans "Change Password" %}
{% endblock head_title %}
{% block css %}
  {{ block.super }}
  <link href="{% static 'css/button.css' %}" rel="stylesheet" />
  <link href="{% static 'css/password_reset.css' %}" rel="stylesheet" />
{% endblock css %}
{% block content %}
  <div class="container-password-reset">
    <div class="text-center border border-success">
      <div class="blue-background lobster-font h2 py-1">{% trans "Succeeded Change" %}</div>
      <i class="bi bi-check-circle-fill custom-icon"></i>
      <p class="px-2">{% trans 'Your password is now changed. You can return to homepage or login.' %}</p>
      <hr />
      <div class="d-flex justify-content-center mb-4">
        <a href="{% url 'home' %}" class="btn orange-button me-3">{% trans "GO TO HOME" %}</a>
        <button class="btn blue-button"
                data-bs-target="#login"
                data-bs-toggle="modal">{% trans "SIGN IN" %}</button>
      </div>
    </div>
  </div>
{% endblock content %}
