{% load static i18n %}
{% load allauth account %}

<div class="modal fade"
     id="resetPass"
     data-bs-backdrop="static"
     data-bs-keyboard="false"
     tabindex="-1"
     role="dialog"
     aria-labelledby="resetPassTitle"
     aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title fw-bolder fs-3" id="resetPassTitle">RETRIEVE PASSWORD</h5>
        <button type="button"
                class="btn-close btn-sm rounded-circle opacity-100"
                id="closeButtonresetPass"
                data-bs-dismiss="modal"
                aria-label="Close"></button>
      </div>
      <div class="modal-body">
        {% url 'account_reset_password' as reset_url %}
        {% element form form=form method="post" action=reset_url tags="entrance,reset" %}
        {% slot body %}
        {% csrf_token %}
        <div class="form-group mb-3">
          <label for="id_email" class="mb-1">Email</label>
          <input class="form-control"
                 type="email"
                 name="email"
                 placeholder="Email address"
                 autocomplete="email"
                 maxlength="320"
                 required=""
                 id="id_email_reset" />
          <div id="reset-error" class="align-middle alert d-none">Invalid email</div>
        </div>
        <div class="d-flex justify-content-center my-0">
          <button type="submit" class="orange-button btn" id="passResetSubmit">{% trans 'SUBMIT' %}</button>
        </div>
      {% endslot %}
    {% endelement %}
  </div>
</div>
</div>
</div>
